<div class="property">
    <h5 class="align-right">
        {{#if view.hasGraph }}
            <span title="save this graph as image" class="save-as-png pure-button">
                <i class="fa fa-download"></i>
                download graph
            </span>
        {{/if}}
    </h5>
    <div class="graph-canvas"></div>
</div>