<div class="pure-g">
    <div class="pure-u-1">
        <div class="text-content">
            <h2 class="styled">Globe - A Tor relay and bridge explorer</h2>

            <div class="pure-g-r">
                <div class="pure-u-1-2">
                    <div class="text-content">
                        <h3>What is Globe</h3>
                        <p>Globe is an application that helps you find and explore <a href="https://www.torproject.org/">Tor</a> relays and bridges.
                            It's inspired by <a href="https://atlas.torproject.org">Atlas</a> and uses the <a href="https://www.torproject.org/projects/onionoo.html">Onionoo-API</a> to get the data.
                            More details about the used libraries and information on how to build your own version of Globe are available in the <a href="https://github.com/makepanic/globe/blob/master/README.md">README</a>.
                        </p>
                    </div>
                </div>
                <div class="pure-u-1-2">
                    <div class="text-content">
                        <h3>Features</h3>
                        <ul>
                            <li>search for bridges or relays</li>
                            <li>advanced search with country, running, flags and other filters</li>
                            <li>details for a bridge or relay</li>
                            <li>interactive graphs using dygraphs</li>
                            <li>shareable links for searches or details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>