<div class="row">
    <div class="small-12 columns">
        {{#if view.isDataLoaded }}
        {{! yielded content is content that is shown if App.loading <= 0 }}
            {{ yield }}
        {{else}}
            <div class="loading-indicator">
                <p>{{ view.message }}</p>
            </div>
        {{/if}}
    </div>
</div>