<div class="pure-g">
    <div class="pure-u-1">
        <div class="text-content">
            <h3>Top 10 relays by consensus weight</h3>
            {{view GLOBE.RelaySummariesView dataBinding="controller.content" }}
        </div>
    </div>
</div>