$torpurple: #7D4698;
$torgreen: #ABCD03;
$torblack: #000;
$torwhite: #FFFCDB;

$grey: #F4F4F4;
$grey-lighter: #F7F7F7;
$grey-darker: #F0EDEE;
$grey-darker-dark: darken($grey-darker, 5%);
$grey-darker-darkest: #363636;

$white: #fff;
$blue: #92B5E5;

$green: #6BAE3F;
$orange: #EB5F3A;