@font-face {
  font-family: entypo;
  src: url('../fonts/entypo.eot'), url('../fonts/entypo.eot?#iefix') format('embedded-opentype'), url('../fonts/entypo.woff') format('woff'), url('../fonts/entypo.ttf') format('truetype'), url('../fonts/entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal; }

a {
  color: #7d4698; }
  a:hover {
    color: #432652; }

html {
  background: #f8f8f8;
  height: 100%; }

body {
  padding-bottom: 50px;
  background: #f8f8f8; }

select {
  margin-bottom: 0; }

button {
  border: 1px solid #603675;
  background-color: #7d4698;
  background-image: -moz-linear-gradient(#8b4ea9, #6e3e87);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8b4ea9), to(#6e3e87));
  background-image: -webkit-linear-gradient(#8b4ea9, #6e3e87);
  background-image: -o-linear-gradient(#8b4ea9, #6e3e87);
  background-image: -ms-linear-gradient(#8b4ea9, #6e3e87);
  color: white;
  border-bottom: 0;
  padding: 10px 15px;
  border-radius: 4px; }

.sticky {
  position: sticky;
  top: 0;
  z-index: 99; }

.fullwidth {
  width: 100%;
  display: block; }

.ember-application > div > .row {
  max-width: 1000px !important;
  margin-left: auto;
  margin-right: auto; }

.header {
  background: #603675;
  color: white; }

.entypo {
  font-family: entypo;
  font-size: 25px;
  line-height: 0;
  margin: 0 5px 0 0;
  text-transform: none;
  font-style: normal; }

input[type=text], select {
  padding: .5em;
  margin: 0 10px;
  display: inline-block;
  transition: width .5s; }

select {
  padding: .3em .5em; }

.truefalse-true {
  color: #6bae3f; }

.truefalse-false {
  color: #eb5f3a; }

.row {
  max-width: 1000px !important; }

.bold {
  font-weight: bold; }

button.margin-top {
  margin-top: 1.25em; }

.uptime-string span {
  font-size: 16px;
  padding: 0 2px;
  color: #696969; }

.footer {
  margin-top: 50px;
  padding-top: 10px;
  font-size: 12px;
  color: #666666;
  border-top: 1px solid #b3b3b3; }

.ember-list-view {
  overflow: auto;
  position: relative; }

.ember-list-item-view {
  position: absolute; }

.relay-summary-list thead {
  background-color: #7d4698;
  background-image: -moz-linear-gradient(#8b4ea9, #6e3e87);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8b4ea9), to(#6e3e87));
  background-image: -webkit-linear-gradient(#8b4ea9, #6e3e87);
  background-image: -o-linear-gradient(#8b4ea9, #6e3e87);
  background-image: -ms-linear-gradient(#8b4ea9, #6e3e87); }
  .relay-summary-list thead th {
    color: white;
    padding: 10px;
    text-shadow: 0 1px #522e64;
    border: 1px solid #522e64; }
.relay-summary-list tbody tr {
  cursor: pointer;
  border-bottom: 1px solid #e4dfe1; }
  .relay-summary-list tbody tr:last-child {
    border-bottom: 0; }
  .relay-summary-list tbody tr:hover {
    background-color: #fffcdb;
    background-image: -moz-linear-gradient(#fffef4, #fffac2);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fffef4), to(#fffac2));
    background-image: -webkit-linear-gradient(#fffef4, #fffac2);
    background-image: -o-linear-gradient(#fffef4, #fffac2);
    background-image: -ms-linear-gradient(#fffef4, #fffac2); }
  .relay-summary-list tbody tr td {
    padding: 15px; }

.relay-meta-title {
  padding: 20px 0;
  border: 1px solid #f0edee;
  border-left: 0;
  border-right: 0; }
  .relay-meta-title h3 {
    text-align: center;
    font-size: 40px;
    color: #505050;
    margin: 0; }

.relay-meta-status strong {
  font-size: 15px;
  color: #7d4698;
  text-transform: uppercase; }
.relay-meta-status p {
  color: #363636;
  font-size: 25px;
  text-align: center; }

.relay-meta {
  list-style: none;
  margin-bottom: 10px;
  border: 1px solid #e4dfe1; }
  .relay-meta strong {
    color: #7d4698;
    font-size: 12px;
    display: inline-block;
    width: 30%; }
  .relay-meta p {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 0;
    width: 65%; }
  .relay-meta li {
    padding: 5px 10px;
    border-bottom: 1px solid #f0edee; }
    .relay-meta li:nth-child(2n) {
      background: #f7f7f7; }
    .relay-meta li:last-of-type {
      border-bottom: 0; }

ul {
  list-style: none; }

.relay-meta-item-list {
  font-size: 12px;
  border: 1px solid #e4dfe1;
  margin-top: 5px;
  margin-bottom: 10px;
  max-height: 295px;
  overflow-y: auto; }
  .relay-meta-item-list .entypo {
    display: inline-block;
    width: 15px;
    margin-right: 10px;
    line-height: 9px;
    text-align: center; }
  .relay-meta-item-list li {
    background: white;
    border-bottom: 1px solid #e4dfe1;
    padding: 6px 10px; }
    .relay-meta-item-list li:nth-child(2n) {
      background: #f7f7f7; }
    .relay-meta-item-list li:last-child {
      border-bottom: 0; }

.relay-meta-headline, .searchbar, .themed-list-headline {
  background-color: #7d4698;
  background-image: -moz-linear-gradient(#8b4ea9, #6e3e87);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8b4ea9), to(#6e3e87));
  background-image: -webkit-linear-gradient(#8b4ea9, #6e3e87);
  background-image: -o-linear-gradient(#8b4ea9, #6e3e87);
  background-image: -ms-linear-gradient(#8b4ea9, #6e3e87);
  box-shadow: inset 0 1px 0 #a26ebc;
  border: 1px solid #522e64;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 0 #603675; }

.themed-list-headline {
  padding: 5px 10px; }
  .themed-list-headline a {
    color: white;
    font-weight: normal; }
  .themed-list-headline select {
    padding: 0;
    margin: 0; }

.relay-meta-headline {
  border-bottom: 1px solid #522e64 !important; }

.fingerprint {
  font-size: 12px !important; }

.outlet {
  margin-top: 20px; }

.searchbar {
  border-left: 0;
  border-right: 0; }
  .searchbar label, .searchbar a, .searchbar input[type=text] {
    margin: 11px 0; }
  .searchbar label {
    color: white;
    font-weight: bold;
    text-shadow: 0 1px 0 #522e64; }
  .searchbar a {
    color: white;
    display: block;
    padding: .5em 0; }
  .searchbar input[type=text] {
    border: 1px solid #522e64;
    box-shadow: 0 1px 0 #8b4ea9;
    background: white; }
    .searchbar input[type=text]:focus {
      box-shadow: 0 1px 0 #8b4ea9, 0 0 10px #ad80c4; }
  .searchbar .entypo {
    margin: 0;
    line-height: 53px;
    font-size: 45px;
    cursor: pointer; }

.searchbar-advanced {
  position: sticky;
  top: 56px;
  z-index: 3;
  background: #f0edee;
  border-bottom: 1px solid #e4dfe1;
  box-shadow: 0 1px 0 white; }

.advanced-search {
  transition: opacity .5s, height .5s;
  overflow: hidden; }
  .advanced-search button {
    width: 75%;
    margin: 5px 10px;
    padding: 7px 15px; }
  .advanced-search.advanced-search-disabled {
    height: 0;
    opacity: 0; }
  .advanced-search.advanced-search-enabled {
    opacity: 1;
    height: 90px; }

.message-display {
  background: #f0edee;
  box-shadow: inset 0 1px 0 white; }
  .message-display .row {
    background: url('../img/hexa.png') no-repeat right 10px;
    padding-top: 65px; }
  .message-display h5 {
    margin-bottom: 3em;
    font-size: 1.5em;
    text-shadow: 0 1px 0 white; }

.subtle {
  color: #5c5c5c;
  font-weight: normal; }

.indicator {
  background: #f0edee;
  border: 1px solid #e4dfe1;
  color: #363636;
  padding: 3px 5px;
  font-size: 12px;
  min-width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block; }
  .indicator.indicator-important {
    font-weight: bold;
    color: white;
    background: #7d4698;
    border: 1px solid #603675; }

.tabbed-item {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding: 10px 15px;
  margin: 0 10px 15px 10px;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: border .25s, background .25s; }
  .tabbed-item span {
    font-size: 14px; }
  .tabbed-item:hover {
    border: 1px solid #e4dfe1; }
  .tabbed-item.tabbed-active {
    color: #7d4698;
    border: 1px solid #e4dfe1;
    background: white; }

.loading-indicator {
  padding: 150px 50px 50px 50px;
  background: url('../img/ajax-loader.gif') no-repeat center center; }
  .loading-indicator p {
    color: #7d4698;
    font-weight: bold;
    text-align: center; }

.graph-canvas {
  margin: 10px 0; }
  .graph-canvas > div:hover .dygraph-legend {
    opacity: 1; }

.dygraph-legend {
  opacity: 0;
  padding: 5px;
  border: 1px solid #e4dfe1; }
  .dygraph-legend > span {
    display: block; }
    .dygraph-legend > span b {
      font-size: 12px; }

.missing-data {
  text-align: center;
  height: 200px;
  line-height: 180px;
  font-weight: bold;
  color: #7d4698;
  font-size: 20px;
  border: 1px solid #7d4698; }

.dataTable {
  border-top: 0;
  border-bottom: 0; }

.dataTables_scrollHead table {
  margin-bottom: 0; }

.dataTables_scrollBody {
  border-bottom: 1px solid #e4dfe1;
  background: white;
  margin-bottom: 1.25em; }
  .dataTables_scrollBody table {
    margin-bottom: 0; }

.dataTables_filter, .dataTables_length {
  margin-bottom: 10px; }

.dataTables_info, .dataTables_length {
  float: left; }

.dataTables_paginate {
  float: right; }

.dataTables_length select {
  margin: 0 10px;
  width: 75px;
  border: 1px solid #ccc;
  padding: 4px;
  color: #363636;
  background: #fff; }

.dataTables_filter input {
  width: 75px; }
  .dataTables_filter input:focus {
    width: 175px; }

.dataTables_info {
  font-size: 12px;
  color: #363636; }

.dataTables_paginate a {
  padding: 5px 10px;
  font-size: 14px;
  color: #7d4698;
  font-weight: bold; }
.dataTables_paginate .paginate_disabled_previous, .dataTables_paginate .paginate_disabled_next {
  color: #696969;
  font-weight: normal; }

.enable-view-enabled, .enable-view-disabled {
  margin: 0;
  padding: 5px 10px; }
  .enable-view-enabled input[type=checkbox], .enable-view-disabled input[type=checkbox] {
    margin-bottom: 0;
    vertical-align: middle; }
  .enable-view-enabled label, .enable-view-disabled label {
    width: 32%;
    font-size: 12px;
    display: inline-block; }
  .enable-view-enabled > div, .enable-view-disabled > div {
    width: 65%;
    display: inline-block; }

.enable-view-enabled label {
  color: #363636; }
