@import "mixins";

@font-face {
  font-family: entypo;
  src:    url('../fonts/entypo.eot'),
  url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
  url('../fonts/entypo.woff') format('woff'),
  url('../fonts/entypo.ttf') format('truetype'),
  url('../fonts/entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}

$torpurple: #7D4698;
$torgreen: #ABCD03;
$torblack: #000;
$torwhite: #FFFCDB;

$gray: #F4F4F4;
$lightgray: #F7F7F7;
$darkergray: #F0EDEE;
$darkerergray: darken($darkergray, 5%);
$darkestgray: #363636;

$white: #fff;
$blue: #92B5E5;

$green: #6BAE3F;
$orange: #EB5F3A;

$controlMargin: 10px;

a{
  color: $torpurple;

  &:hover{
    color: darken($torpurple, 20%);
  }
}

html{
  background: #f8f8f8;
  height: 100%;
}
body{
  padding-bottom:50px;
  background: #f8f8f8;
}
select{
  margin-bottom: 0;
}
button{
  border: 1px solid darken($torpurple, 10%);
  @include gradient($torpurple);
  color: $white;
  border-bottom: 0;
  padding: 10px 15px;
  border-radius: 4px;
}

// candy for position sticky supported browsers
.sticky{
  position: sticky;
  top: 0;
  z-index: 99;
}

.fullwidth{
  width:100%;
  display: block;
}

.ember-application > div > .row{
  max-width: 1000px !important;
  margin-left: auto;
  margin-right: auto;
}

.header{
  background: darken($torpurple, 10%);
  color: $white;
}

.entypo{
  font-family: entypo;
  font-size:25px;
  line-height: 0;
  margin: 0 5px 0 0;
  text-transform: none;
  font-style: normal;
}

// general elements

input[type=text], select{
  padding: .5em;
  margin: 0 $controlMargin;
  display: inline-block;
  transition: width .5s;
}
select{
  padding: .3em .5em;
}

// truefalse
.truefalse-true{
  color: $green;
}
.truefalse-false{
  color: $orange;
}

// overwrite foundation row witdth
.row{
  max-width: 1000px !important;
}

.bold{
  font-weight: bold;
}

button.margin-top{
  margin-top: 1.25em;
}
.uptime-string{
  span{
    font-size: 16px;
    padding: 0 2px;
    color: lighten($darkestgray, 20%);
  }
}

.footer{
  $footer-color: #666;

  margin-top: 50px;
  padding-top: 10px;
  font-size: 12px;
  color: $footer-color;
  border-top: 1px solid lighten($footer-color, 30%);
}


// Ember list-view required css
.ember-list-view {
  overflow: auto;
  position: relative;
}
.ember-list-item-view {
  position: absolute;
}

.relay-summary-list{

  thead{
    @include gradient($torpurple);

    th{
      color: $white;
      padding:10px;
      text-shadow: 0 1px darken($torpurple, 15%);
      border: 1px solid darken($torpurple, 15%);
    }

  }


  tbody tr{
    cursor: pointer;
    border-bottom: 1px solid $darkerergray;

    &:last-child{
      border-bottom: 0;
    }

    &:hover{
      @include gradient($torwhite);
    }

    td{
      padding: 15px;
    }
  }

}

.relay-meta-title{
  padding: 20px 0;
  border:1px solid $darkergray;
  border-left: 0;
  border-right: 0;

  h3{
    text-align: center;
    font-size: 40px;
    color: lighten($darkestgray, 10%);
    margin:0;
  }
}
.relay-meta-status{
  strong{
    font-size: 15px;
    color: $torpurple;
    text-transform: uppercase;
  }

  p{
    color: $darkestgray;
    font-size:25px;
    text-align: center;
  }
}


.relay-meta{
  list-style: none;
  margin-bottom:10px;
  border: 1px solid $darkerergray;

  strong{
    color: $torpurple;
    font-size: 12px;
    display: inline-block;
    width: 30%;
  }
  p{
    font-size:14px;
    display: inline-block;
    margin-bottom: 0;
    width: 65%;
  }

  li{
    padding: 5px 10px;
    border-bottom: 1px solid $darkergray;

    &:nth-child(2n){
      background: $lightgray;
    }
    &:last-of-type{
      border-bottom: 0;
    }
  }

}

ul{
  list-style: none;
}
.relay-meta-item-list{
  font-size: 12px;
  border: 1px solid $darkerergray;
  margin-top: 5px;
  margin-bottom: 10px;
  max-height: 295px;
  overflow-y: auto;

  .entypo{
    display: inline-block;
    width:15px;
    margin-right: 10px;
    line-height: 9px;
    text-align: center;
  }

  li{
    background: $white;
    border-bottom: 1px solid $darkerergray;
    padding: 6px 10px;

    &:nth-child(2n){
      background: $lightgray;
    }
    &:last-child{
      border-bottom: 0;
    }
  }

}

.relay-meta-headline, .searchbar, .themed-list-headline{
  @include gradient($torpurple);
  box-shadow: inset 0 1px 0 lighten($torpurple, 15%);
  border: 1px solid darken($torpurple, 15%);
  color: $white;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 0 darken($torpurple, 10%);
}
.themed-list-headline{
  padding: 5px 10px;

  a{
    color: $white;
    font-weight: normal;
  }

  select{
    padding: 0;
    margin: 0;
  }
}


.relay-meta-headline{
  border-bottom: 1px solid darken($torpurple, 15%) !important;
}

.fingerprint{
  font-size:12px !important;
}
.outlet{
  margin-top: 20px;
}

.searchbar{
  border-left: 0;
  border-right: 0;

  label, a, input[type=text]{
    margin: 11px 0;
  }

  label{
    color: $white;
    font-weight: bold;
    text-shadow: 0 1px 0 darken($torpurple, 15%);
  }

  a{
    color: $white;
    display: block;
    padding: .5em 0;
  }

  input[type=text]{
    border: 1px solid darken($torpurple, 15%);
    box-shadow: 0 1px 0 lighten($torpurple, 5%);
    background: $white;

    &:focus{
      box-shadow: 0 1px 0 lighten($torpurple, 5%), 0 0 10px lighten($torpurple, 20%);
    }
  }

  .entypo{
    margin: 0;
    line-height: 53px;
    font-size: 45px;
    cursor: pointer;
  }
}
.searchbar-advanced{
  position: sticky;
  top: 56px;
  z-index: 3;

  background: $darkergray;
  border-bottom: 1px solid $darkerergray;
  box-shadow: 0 1px 0 $white;
}

.advanced-search{
  transition: opacity .5s, height .5s;
  overflow: hidden;

  button{
    width: 75%;
    margin: 5px 10px;
    padding: 7px 15px;
  }

  &.advanced-search-disabled{
    height: 0;
    opacity: 0;
  }
  &.advanced-search-enabled{
    opacity: 1;
    height: 90px;
  }
}

.message-display{
  // @include gradient($darkerergray);
  background: $darkergray;
  box-shadow: inset 0 1px 0 lighten($darkerergray, 15%);

  .row{
    background: url('../img/hexa.png') no-repeat left center;
  }

  h5{
    line-height: 3.5em;
    font-size: 1.5em;
    text-shadow: 0 1px 0 $white;
    text-indent: 170px;
  }
}

.subtle{
  color: lighten($darkestgray, 15%);
  font-weight: normal;
}


.indicator{
  background: $darkergray;
  border: 1px solid $darkerergray;
  color: $darkestgray;
  padding: 3px 5px;
  font-size: 12px;
  min-width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;

  &.indicator-important{
    font-weight: bold;
    color: $white;
    background: $torpurple;
    border: 1px solid darken($torpurple, 10%);
  }
}


// Tabbed area
.tabbed-item{
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding: 10px 15px;
  margin: 0 10px 15px 10px;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: border .25s, background .25s;

  span{
    font-size: 14px;
  }

  &:hover{
    border: 1px solid $darkerergray;
  }
  &.tabbed-active{
    color: $torpurple;
    border: 1px solid $darkerergray;
    background: $white;
  }
}


.loading-indicator{
  padding: 150px 50px 50px 50px;
  background: url('../img/ajax-loader.gif') no-repeat center center;

  p{
    color: $torpurple;
    font-weight: bold;
    text-align: center;
  }
}


// d3js styling


// graph styling

.graph-canvas{
  margin: 10px 0;

  &>div:hover .dygraph-legend{
    opacity: 1;
  }
}
.dygraph-legend{
  opacity: 0;
  padding: 5px;
  border: 1px solid $darkerergray;
  > span{
    display: block;

    b{
      font-size: 12px;
    }
  }
}

.missing-data{
  text-align: center;
  height: 200px;
  line-height: 180px;
  font-weight: bold;
  color: $torpurple;
  font-size:20px;
  border: 1px solid $torpurple;
}

// datatables
.dataTable{
  border-top: 0;
  border-bottom: 0;
}

.dataTables_scrollHead{
  table{
    margin-bottom: 0;
  }
}
.dataTables_scrollBody{
  border-bottom: 1px solid $darkerergray;
  background: $white;
  margin-bottom: 1.25em;

  table{
    margin-bottom: 0;
  }
}

.dataTables_filter, .dataTables_length{
  margin-bottom: 10px;
}

.dataTables_info, .dataTables_length{
  float: left;
}
.dataTables_paginate{
  float:right;
}

// shows entries per page select
.dataTables_length{
  select{
    margin: 0 $controlMargin;
    width: 75px;
    border: 1px solid #ccc;
    padding: 4px;
    color: $darkestgray;
    background: #fff;
  }
}


// shows search field
.dataTables_filter{
  input{
    width: 75px;

    &:focus{
      width: 175px;
    }
  }
}

// shows entries per page info
.dataTables_info{
  font-size: 12px;
  color: $darkestgray;
}

// shows pagination
.dataTables_paginate{
  a{
    padding: 5px 10px;
    font-size: 14px;
    color: $torpurple;
    font-weight: bold;
  }

  .paginate_disabled_previous, .paginate_disabled_next{
    color: lighten($darkestgray, 20%);
    font-weight: normal;
  }

}

// enable toggler
.enable-view-enabled,.enable-view-disabled{
  margin: 0;
  padding: 5px 10px;

  input[type=checkbox]{
    margin-bottom: 0;
    vertical-align: middle;
  }

  label{
    width: 32%;
    font-size: 12px;
    display: inline-block;
  }

  & > div{
    width: 65%;
    display: inline-block;
  }
}
.enable-view-enabled{
  label{
    color: $darkestgray;
  }
}