@import "../colors";
@import "../mixins";
@import "../vars";

.navigation-wrapper{
}
.navigation{
  list-style: none;
  margin: 0;
  padding: 0;

  div{
    text-align: center;
  }

  a{
    display: block;
    padding: 10px;
    color: $grey-darker;
    text-decoration: none;

    &:hover,&.active{
      color: $white;
      background: $purple;
    }

    span{
      margin: 0 10px;
    }
  }
}
