<ul class="relay-meta">
    <li class="themed-list-headline">
        <div class="row">
            <div class="large-1 columns">
                {{#if view.hasGraph }}
                    <a class="save-as-png entypo">&#128190;</a>
                {{else}}
                    &nbsp;
                {{/if}}
            </div>
            <div class="large-8 columns text-center">{{ view.title }}</div>
            <div class="large-3 columns">
                {{#if view.timePeriods.length }}
                    {{view Ember.Select viewName="timePeriodSelect" contentBinding="view.timePeriods"}}
                {{else}}
                    &nbsp;
                {{/if}}
            </div>
        </div>
    <li><div class="graph-canvas"></div></li>
</ul>