
<div class="row">
    <div class="large-12 columns">
        <h2>Welcome to Tor Onionoo Search</h2>

        <p>Tor Onionoo Search helps you find informations about currently running <a href="https://www.torproject.org/">Tor relays</a>. This application is inspired by <a href="https://atlas.torproject.org">Atlas</a> and uses <a href="http://emberjs.com/">Ember.js</a> as JS framework.</p>
        <p>Data comes from the <a href="https://www.torproject.org/projects/onionoo.html">Onionoo</a> API.</p>
    </div>
</div>