
<div class="row">
    <div class="small-12 columns">
        <h2>Welcome to Globe</h2>

        <p>Globe helps you find informations about currently running <a href="https://www.torproject.org/">Tor relays</a>. This application is inspired by <a href="https://atlas.torproject.org">Atlas</a> and uses <a href="http://emberjs.com/">Ember.js</a> as JS framework.</p>
        <p>Data comes from the <a href="https://www.torproject.org/projects/onionoo.html">Onionoo</a> API.</p>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <h3>Top 10 relays by consensus weight</h3>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        {{view App.RelaySummariesView dataBinding="controller.content" }}
    </div>
</div>