
<div class="row">
    <div class="small-12 columns">
        <h3>What is Globe</h3>
        <p>
            Globe is an application that helps you find and explore <a href="https://www.torproject.org/">Tor</a> relays and bridges.
            It's inspired by <a href="https://atlas.torproject.org">Atlas</a> and uses the <a href="https://www.torproject.org/projects/onionoo.html">Onionoo-API</a> to get the data.
            More details about the used libraries and information on how to build your own version of Globe are available in the <a href="https://github.com/makepanic/globe/blob/master/README.md">README</a>.
        </p>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <h3>Top 10 relays by consensus weight</h3>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        {{view App.RelaySummariesView dataBinding="controller.content" }}
    </div>
</div>